@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* 
- Font size: 13px
- Family: [Manrope](https://fonts.google.com/specimen/Manrope)
- Weights: 500, 700
*/

:root {
    --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
    --DesaturatedDarkBlue: hsl(214, 17%, 51%);
    --GrayishBlue: hsl(212, 23%, 69%);
    --LightGrayishBlue: hsl(210, 46%, 95%);

    --fsW500: 500;
    --fsW700: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--LightGrayishBlue);
    font-family: Manrope, sans-serif;
}

main {
    width: auto;
    height: auto;
}

h2{
    font-size: 24px;
    margin-bottom: 10px;
}

p{
    font-size: 16px;
    font-weight: var(--fsW500);
    margin-bottom: 14px;
}

.container{
    width: 800px;
    min-width: 800px;
    height: 300px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}
.leftimg {
    width: 35%;  
    overflow: hidden; 
}

.leftimg img {
    height: 300px;
}

.rightcont{
padding: 38px;
background-color: white;
width: 65%;
}

.contfooter{
    display: flex;
    justify-content:space-between;
    position: relative;
}

.contfooter img{
width: 20px;
height: 20px;
}

.contfooter button{
    padding: 10px;
    border-radius: 90px;
    width: 42px;
    height: 42px;
    border: 0px;
}

.footerinfos {
    display: flex;
}

.footerinfos img{
height: 42px;
width: 42px;
border-radius: 90px;
border: 0px;
margin-right: 15px;
}

.floatingcont {
    width: 180px;
    height: 60px;
    position: absolute; /* Position absolue pour placer précisément l'élément */
    bottom: 42%;       /* Positionne `floatingcont` juste au-dessus du bouton */
    left: 74%;          /* Démarre la position de `floatingcont` à 50% du parent pour le centrer */
    transform: translateX(-50%); /* Ajustement pour centrer précisément par rapport à la position gauche */
    display: none;      /* Commence caché jusqu'à ce que le bouton soit cliqué */
    width: auto;        /* Largeur automatique basée sur le contenu */
    padding: 8px;       /* Padding pour l'esthétique */
    background-color: var(--VeryDarkGrayishBlue); /* Couleur de fond blanc */
    border: 1px solid #ccc; /* Bordure subtile */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Ombre pour un effet de profondeur */
    z-index: 1000;      /* S'assure que `floatingcont` est au-dessus des autres éléments */
    display: flex;
    flex-direction: row;
}
