* {
    box-sizing: border-box;
}

@font-face {
    font-family: "HankenGrotesk";
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

body {
    font-family: "HankenGrotesk", sans-serif;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    width: 45rem;
    height: 31.6rem;
    box-shadow: 14px 15px 48px -7px rgba(71, 80, 219, 0.68);
    border-radius: 25px;
}

.resultCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
    border-radius: 25px;
    padding: 2.8rem;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));

    .circle-box {
        background-image: linear-gradient(180deg, hsla(256, 72%, 46%, 0.7), hsla(241, 72%, 46%, 0));
        border-radius: 50%;
        margin: 10px;
        width: 185px;
        height: 185px;

        h1 {
            font-size: 70px;
            line-height: 84px;
            margin-top: 40px;
            margin-bottom: 0;
        }

        p {
            margin: 0;
        }
    }

    h1 {
        color: white;
        font-size: 30px;
        margin: 10px;
    }

    h2 {
        color: hsl(241, 100%, 89%);
        margin: 0px 0px 20px 0px;
    }

    p {
        color: hsl(241, 100%, 89%);
        line-height: 1.3;
        margin: 12px;
        opacity: 75%;
    }
}

.summaryCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 2.8rem;
    width: 50%;
    border-radius: 25px;
}

.stat-1,
.stat-2,
.stat-3,
.stat-4 {
    margin: 12px 0px 12px 0px;
    padding: 0px 12px 0px 12px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stat-title1,
.stat-title2,
.stat-title3,
.stat-title4 {
    margin-left: 8px;
}

.stat-1 {
    background-color: hsla(0, 100%, 67%, 0.03);
}

.stat-2 {
    background-color: hsla(39, 100%, 56%, 0.03);
}

.stat-3 {
    background-color: hsla(166, 100%, 37%, 0.03);
}

.stat-4 {
    background-color: hsla(234, 85%, 45%, 0.03);
}

.stat-title1 {
    color: hsl(0, 100%, 67%);
}

.stat-title2 {
    color: hsl(39, 100%, 56%);
}

.stat-title3 {
    color: hsl(166, 100%, 37%);
}

.stat-title4 {
    color: hsl(234, 85%, 45%);
}

.stat-left {
    display: flex;
}

.stat-right p {
    color: black;
    margin: 0;
}

.stat-right span {
    color: grey;
}

.btn {
    display: flex;
    flex-direction: column;
    margin-top: 17px;
}

button {
    background-color: hsl(224, 30%, 27%);
    color: white;
    border-radius: 30px;
    border: 0;
}

button:hover {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

h2 {
    color: hsl(224, 30%, 27%);
    margin: 0;
    margin-bottom: 5px;
    font-weight: 700;
}

p {
    font-size: 18px;
    font-weight: 500;
}

@media only screen and (max-width: 600px) {
    *{
        margin: 0;
        padding: 0;
    }
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        width: 100%;

    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 809px;
        width: 375px;
    }

    .resultCard {
        display: flex;
        height: 100%;
        width: 100%;

    }

    .summaryCard {
        justify-content: center;
        align-items: center;
    }
}