@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --Pink: hsl(322, 100%, 66%);
    --Light-Pink: hsl(321, 100%, 78%);
    --Light-Red: hsl(0, 100%, 63%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Very-Pale-Blue: hsl(207, 100%, 98%);

    --Poppins-font: "Poppins", sans-serif;
    --Poppins-width-700: 700;
    /* ## Body */
    --Open-Sans-font: "Open Sans", sans-serif;
    --Open-Sans-width-400: 400;
    --Open-Sans-width-600: 600;
    --Open-Sans-width-700: 700;

    --fsf-h1: clamp(1.6rem, 2.811vw, 2.2rem);
    /*font-size:18px / 375px to 1440px = x3.82 /   */
    --fsf-h2: clamp(1.3rem, 2.226vw, 2.2rem);
    /*clamp(0.87rem, 5.27vw, 2.2rem);   */
    --fsf-h3: clamp(1.4rem, 1.52vw, 2.2rem);
    /*font-size:18px / 375px to 1440px = x3.82 /   */
    --space-height-fluid-1: 0px;

    --fsf-p: clamp(0.89rem, 1.171vw, 2.2rem);
    --fsf-p2: clamp(0.86rem, 0.8787vw, 2.2rem);
    --fsf-p-footer: 14px;
    --fsf-p2-footer: clamp(0.87rem, 0.8787vw, 2.2rem);
    --fsf-btn: clamp(0.86rem, 0.8787vw, 2.2rem);
    --fsf-stats: clamp(4rem, 5.27vw, 6rem);
    --fsf-stats-paragraph: 20px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: var(--Poppins-font);
    font-weight: var(--Poppins-width-700);
    font-size: var(--fsf-h1);
}

h2 {
    font-family: var(--Poppins-font);
    font-weight: var(--Poppins-width-700);
    font-size: var(--fsf-h2);
    margin-bottom: 20px;
}

h3 {
    font-family: var(--Poppins-font);
    font-weight: var(--Poppins-width-700);
    font-size: var(--fsf-h3);
}

p {
    font-family: var(--Open-Sans-font);
    font-size: var(--fsf-p);
}



/* /////////////////////////////////////////////////////////////////////// */
header {
    width: 100%;
}

.navbar {
    margin: 40px 80px 40px 60px;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    width: auto;
    height: auto;
}

.header-btn {
    background-color: white;
    color: var(--Pink);
    border: 1px solid var(--Pink);
    border-radius: 30px;
    padding: 0px 40px;
    font-size: var(--fsf-btn);
    font-weight: var(--Open-Sans-width-400);
}

/* /////////////////////////////////////////////////////////////////////// */
main {
    width: 100%;
}

.cont1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 14.6% 0px;
    background: url(./images/bg-section-top-desktop-1.svg) no-repeat;
    background-position: bottom;
    background-size: contain;
}

.cont1-title {
    margin-bottom: 20px;
}

.cont1-paragraph {
    width: 590px;
    margin-bottom: 40px;
}

.get-started-btn {
    background-color: var(--Pink);
    color: white;
    border: 0px solid;
    border-radius: 40px;
    padding: 25px 110px;
    font-size: var(--fsf-btn);
    font-weight: var(--Open-Sans-width-600);
    margin: 30px 0px 100px
}

.illustration1 {}

.cont1-stats {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 100px 70px 300px;
}

.stat1,
.stat2 {
    display: flex;
    flex-direction: column;
}

.stat1-icon,
.stat2-icon {
    width: 41px;
}

.stat1-stat,
.stat2-stat {
    font-size: var(--fsf-stats);
    font-family: var(--Open-Sans-font);
    font-weight: var(--Open-Sans-width-700);
    text-align: left;
}

.stat1-text,
.stat2-text {
    font-size: var(--fsf-stats-paragraph);
    opacity: 0.7;
}


.cont2,
.cont3,
.cont4,
.cont5 {
    padding: 100px 8.2% 100px;
    display: flex;
}

.cont2 {
    background-color: var(--Very-Pale-Blue);
}

.cont3 {
    background: url(./images/bg-section-bottom-desktop-1.svg) no-repeat, url(./images/bg-section-top-desktop-2.svg) no-repeat;
    background-position: top, bottom;
    background-size: contain;
    padding: 300px 8.2%;
}

.cont4 {
    background-color: var(--Very-Pale-Blue);
}

.cont5 {
    background: url(./images/bg-section-bottom-desktop-2.svg) no-repeat, url(./images/bg-footer-top-desktop.svg) no-repeat;
    background-position: top, bottom;
    background-size: contain;
    padding: 300px 8.2%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}


.cont2-left,
.cont3-left,
.cont4-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cont3-left {
    padding-left: 110px;
}

.cont2-title,
.cont2-title,
.cont2-title {}

.cont2-paragraph p,
.cont3-paragraph p,
.cont4-paragraph p {
    max-width: 490px;
    font-size: var(--fsf-p2);
}

.cont2-illustration,
.cont3-illustration,
.cont4-illustration {
    width: 50%;
}

/* /////////////////////////////////////////////////////////////////////// */
footer {
    width: 100%;
    padding: 100px 8.2% 100px;
    background-color: var(--Very-Dark-Cyan);
    color: white;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    width: 300px;
}

.footer-logo {
    filter: brightness(0) invert(1);
    width: clamp(200px, 14.05vw, 300px);
    height: auto;
    margin-bottom: 30px;
}

.footer-left-paragraph p {
    font-size: var(--fsf-p-footer);
    margin-bottom: 30px;
    line-height: 24px;
}

.footer-contact-cont {}

.contact-phone,
.contact-email {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.contact-phone-icon,
.contact-email-icon {}

.contact-phone-text p,
.contact-email-text p {
    font-size: var(--fsf-p2-footer);
}

.footer-social-cont {
    display: flex;
    gap: 20px;
}

.facebook-icon,
.instagram-icon,
.twitter-icon {
    width: 32px;
    filter: brightness(0) invert(1);
    margin-top: 60px;
}



.footer-right {
    width: 525px;
}

.footer-right-title h3 {
    margin-bottom: 30px;
}

.footer-right-paragraph p {
    width: 340px;
    font-size: var(--fsf-p-footer);
    margin-bottom: 40px;
    line-height: 24px;
}

.subscribe-part {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.subscribe-champ {
    padding: 10px 30px;
    border: 0px;
    border-radius: 6px;
    width: 300px;
}

.subscribe-btn {
    color: white;
    background-color: var(--Pink);
    padding: 10px 30px;
    border: 0px;
    border-radius: 6px;
}

.subscribe-btn p {
    font-size: var(--fsf-p2);
    font-weight: var(--Open-Sans-width-700);
}

/* /////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */

@media only screen and (max-width: 376px) {

    /* /////////////////////////////////////////////////////////////////////// */
    header {}

    .navbar {
        margin: 15px 40px 15px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .header-logo {
        width: auto;
        height: 16px;
    }

    .header-btn {
        padding: 5px 15px;

    }
    
    /* /////////////////////////////////////////////////////////////////////// */
    .cont1 {
        padding: 100px 10.5% 0px;
    }

    .cont1-paragraph {
        width: 100%;
        margin-bottom: 40px;
    }

    .illustration1 {
        object-fit: contain;
        width: 350px;
    }

    .cont1-stats {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: initial;
        padding: 100px 70px 300px;
        gap: 100px;
    }

    .cont2,
    .cont3,
    .cont4,
    .cont5 {
        padding: 100px 8.2% 100px;
        display: flex;
        flex-direction: column;
        text-align: center;
        /*flex-wrap: wrap;*/
    }

    .cont2-left,
    .cont3-left,
    .cont4-left {
        width: 100%;
    }

    .cont3-left {
        padding-left: 0px;
    }

    .cont2-illustration,
    .cont3-illustration,
    .cont4-illustration {
        width: 100%;
    }

    .get-started-btn {
        padding: 12px 40px;
        margin: 10px 0px 100px
    }

    .cont1-stats {
        padding: 100px 70px 100px;
    }

    .stat1-icon,
    .stat2-icon {
        width: 41px;
    }

    .cont2,
    .cont3,
    .cont4,
    .cont5 {
        padding: 100px 8.6% 100px;
    }

    .cont3 {
        padding: 200px 8.6%;
    }


    /* /////////////////////////////////////////////////////////////////////// */
    footer {
        width: 100%;
        padding: 100px 8.2% 50px;
        flex-wrap: wrap-reverse;
        justify-content: space-between;
    }

    .footer-logo {
        margin-bottom: 10px;
    }

    .subscribe-part {
        justify-content: flex-end;
    }

    .footer-right-paragraph p {
        width: 300px;
        margin-bottom: 30px;
    }

    .footer-right {
        width: 300px;
        margin-bottom: 80px;
    }

    .footer-left-paragraph p {
        margin-bottom: 40px;
    }

    .facebook-icon,
    .instagram-icon,
    .twitter-icon {
        width: 24px;
        margin-top: 20px;
    }

    .footer-right-title h3 {
        margin-bottom: 10px;
    }

    .subscribe-part {
        gap: 15px;
    }

    .subscribe-champ {
        padding: 10px 30px;
        border: 0px;
        border-radius: 6px;
        width: 300px;
    }

    .subscribe-btn {
        padding: 15px 30px;
        width: 50%;
    }

}