@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


body {
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 18px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
}

h1 {
    color: hsl(210, 10%, 33%);
    font-weight: 600;
    font-size: 48px;
    margin: 0;
}

h2{
    color: hsl(210, 10%, 33%);
    font-weight: 600;
    font-size: 36px;
    display: flex;
    flex-direction: row;
    margin: 0;
}

h3{
    color: hsl(210, 10%, 33%);
    font-weight: 600;
    font-size: 32px;
    display: flex;
    flex-direction: row;
    margin: 0;
}

p {
    color: hsl(201, 11%, 66%);
    font-weight: 400;
    font-size: 22px;
    padding-top: 20px;
}

header {
    background-image: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 300px;
}

.logo-header img {
    width: 7%;
    margin-top: 80px;
}

main {
    width: 100%;
    height: 100%;
}

.bloc1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.paragraph-b1 {
    width: 50%;
}

.download-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin: 30px;
}

.download-iOS {
    background-color: hsl(171, 66%, 44%);
    box-shadow: 0px 8px 18px -3px hsl(171, 66%, 44%);
}

.download-mac {
    background-color: hsl(233, 100%, 69%);
    box-shadow: 0px 8px 18px -3px hsl(233, 100%, 69%);

}

.download-iOS, .download-mac{
    color: white;
    width: 230px;
    height: 56px;
    border: 0;
    border-radius: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 16px;
}

.bloc2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
}


.paragraph-b2 {
    width: 52%;
}

.bloc3 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: left;
    align-items: center;
    gap: 190px;
}

.desktop-img img {
    width: 110%;
    height: 110%;
    padding-top: 60px;
}

.right-b3 {
    width: 25%;
}


.title-b3-1, .title-b3-2, .title-b3-3{
    padding-top: 25px;
}



.bloc4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}


.paragraph-b4 {
    width: 52%;
}

.devices-img{
    margin-right: 180px;
    padding-top: 80px;
    padding-bottom: 40px;
}
.devices-img img{
    width: 120%;
    height: 120%;
}

.bloc5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.paragraph-b5 {
    width: 52%;
}

.bloc6 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: 8px;
    padding-top: 50px;
}

.bloc6-1, .bloc6-2, .bloc6-3{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.title-b6-1, .title-b6-2, .title-b6-3{
    margin-top: 30px;
}


.bloc7 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 180px;
    margin: 140px 0px;
}

.logo1-b7 img, .logo2-b7 img, .logo3-b7 img, .logo4-b7 img, .logo5-b7 img{
    width: 125%;
}

.bloc8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
}

.paragraph-b8 {
    width: 52%;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    background-color:hsla(201, 11%, 66%, 0.2);
    width: 100%;
    height: 150px;
}

.logo-footer img{
    height: 20%;
    width: 25%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    margin-left: 140px;
}

.links-bloc-footer {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    width: 30%;
    height: 80px;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: -420px;
}


.SN-icon-link-bloc {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 30px;
    margin-right: 150px;
}


@media only screen and (max-width: 375px) {
    

h1 {
    font-weight: 600;
    font-size: 30px;
}

h2{
    font-weight: 600;
    font-size: 28px;
    display: flex;
    flex-direction: row;
    margin: 0;
}

h3{
    font-weight: 600;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: center;
    padding-bottom: 15px;
}

p {
    color: hsl(201, 11%, 66%);
    font-weight: 400;
    font-size: 15.5px;
    line-height: 25px;
}


header {
    background-image: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 300px;
}

.logo-header img {
    width: 35%;
    margin-top: 80px;
}


main {
    width: 100%;
    height: 100%;
}

.bloc1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
}



.paragraph-b1 {
    width: 100%;
    text-align: center;
    padding: 36px 0px 58px;
}

.download-buttons {
    display: initial;
    flex-direction: column;
    margin: 0;
}

.download-iOS, .download-mac{
    color: white;
    width: 100%;
    height: 56px;
    border: 0;
    border-radius: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 16px;
    margin-bottom: 30px;
}

.bloc2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    padding: 10%;
}



.paragraph-b2 {
    width: 100%;
    padding-top: 30px;
}

.bloc3 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    align-items: center;
    gap: 190px;
}

.desktop-img img {
    width: 85%;
    height: 85%;
    padding-top: 60px;
}

.desktop-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.right-b3 {
    width: 100%;
    padding: 10%;
    text-align: center;
}



.title-b3-1, .title-b3-2, .title-b3-3{
    padding-top: 25px;
}




.bloc4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px 10% 30px;
}



.paragraph-b4 {
    width: 100%;
}

.devices-img{
    width: 100%;
    padding-top: 80px;
    margin-right: 0px;
    display: flex;
    justify-content: center;
}
.devices-img img{
    width: 110%;
    height: 110%;

}

.bloc5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
}


.paragraph-b5 {
    width: 100%;
    padding-top: 0px;
}

.bloc6 {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 10%;
    padding-top: 50px;
}

.bloc6-1, .bloc6-2, .bloc6-3{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.title-b6-1, .title-b6-2, .title-b6-3{
    margin-top: 30px;
}


.bloc7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 140px 0px 100px;
}

.logo1-b7 img, .logo2-b7 img, .logo3-b7 img, .logo4-b7 img, .logo5-b7 img{
    width: 100%;
}

.bloc8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
    padding: 10%;
}


.paragraph-b8 {
    width: 100%;
    padding: 30px 0px 50px;
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    background-color:hsla(201, 11%, 66%, 0.2);
    width: 100%;
    height: auto;
}

.logo-footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-footer img{
    width: 60px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px 0px 10px;
}

.links-bloc-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: auto;
    gap: 30px;
    margin-left: 0px;
}

.SN-icon-link-bloc {
    justify-content: center;
    align-items: center;
    gap: 36px;
    margin-right: 0px;
    padding: 30px 0px 50px;
}
}